.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
.category-title {
  font-size: 38px;
  margin-bottom: 25px;
  text-align: center !important;
  background: lightseagreen;
  // background-image: url('../../assets//egyptian-grain\ .jpg');
  // background-repeat: no-repeat;
  // background-size: auto;
  // egyptian-grain .jpg
  color: antiquewhite;
}
